<div class="span7 offset1">
	<% @chat.conversations.build %>
	<%= form_for(@chat, url:chat_path(@user.id)) do |f| %>
		<%= render 'shared/error_messages' , object: f.object %>
		<%= f.fields_for :conversations do |form| %>
			<%= form.label :message, 'Message:' %>
			<textarea rows="3" class="field span4" id="message" required="required" name="chat[conversations_attributes][0][message]"></textarea>
		<% end %>
  		<div class="actions">
			<%= f.submit "Send", class: "btn btn-large btn-primary"%>
		</div>
	<% end %>
</div>