<div class="row">
	<div class="span6 offset3">

		<%= form_for @message, :url => contact_path do |form| %>
			<% if @message.errors.any? %>
		  		<div id="error_explanation">
		  			<div class="alert alert-error">
		    			<%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:
		    		</div>
		    	<ul>
		    		<% @message.errors.full_messages.each do |msg| %>
		      			<li>* <%= msg %></li>
		    		<% end %>
		    	</ul>
		  		</div>
			<% end %>
		
		
		
		
		
		  <fieldset class="fields">
		    <div class="field">
		      <%= form.label :name %>
		      <%= form.text_field :name %>
		    </div>
		    
		    <div class="field">
		      <%= form.label :email %>
		      <%= form.text_field :email %>
		    </div>
		    <div class="field">
		      <%= form.label :subject %>
		      <%= form.text_field :subject %>
		    </div>
		    
		    <div class="field">
		      <%= form.label :body %>
		      <%= form.text_area :body, "cols" => 10, "rows" => 10 %>
		    </div>
		  </fieldset>
		  
		  <fieldset class="actions">
		    <%= form.submit "Send" %>
		  </fieldset>
		<% end %>
	</div>
</div>
