<%= will_paginate @v_upload %>
<% @v_upload.each do |vid| %>

	<li class="span3">
		<a href= <%= "/uploads/#{vid.id}" %> class="no_style">
		<div class="thumbnail">
		  <img src= <%= "http://img.youtube.com/vi/#{vid.embedid}/0.jpg" %> alt=''>
		  <h3><%= truncate( vid.title , :length =>18 , :separator => ' ' )  %></h3>
		  <p><%= truncate( vid.about , :length =>30 , :separator => ' ' )  %></p>
		</div>
		</a>
	</li>
<% end %>
<%= will_paginate @v_upload %>