<%= will_paginate @v_upload %>
<% @v_upload.each do |art| %>
<li>
	<% @art = art %>
	<% if art.embedid.blank? %>
		<%= render "uploads/disp_art"%>
	<% else %>
		<ul class="thumbnails">
			<li class="span2">
				<a href=<%= "/uploads/#{art.id}" %> class="thumbnail">
				<% if art.source == 'daily' %>
					<img src= <%= "http://www.dailymotion.com/thumbnail/video/#{art.embedid}" %> alt=''>
				<% else %>
					<img src= <%= "http://img.youtube.com/vi/#{art.embedid}/0.jpg" %> alt="">
				<% end %>
			</a>
			</li>
			<li> <p><%= truncate( @art.title , :length =>24 , :separator => ' ' )  %></p>
					by <%= render "uploads/art" %> 
			</li>
		</ul>
	<% end%>

</li>
<% end %>

<%= will_paginate @v_upload %>