<%= provide(:title, 'Edit Upload') %>
<h1>Edit Post.</h1>
<div class="row">
	<div class="span6 offset3">
	<% @upload.tags.build %>
	<%= form_for(@upload) do |f| %>
		<%= render 'shared/error_messages' , object: f.object %>
		<%= f.label :title %>
		<%= f.text_field :title %>
		<%= f.label :about %>
		<%= f.text_area :about ,:cols => 10, :rows => 10%>
		<h2>Tags</h2>
  		<%= render :partial => 'tags/form', :locals => {:form => f} %>
  		<div class="actions"></br>
		<%= f.submit "Update Changes", class: "btn btn-large btn-primary"%>
	<% end %>
	</div>
</div>
